/* common css or utilities */
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: Lato, sans-serif;
}

/*----------------------- banner section starts from here -----------------------*/
.banner {
    background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url(/images/banner.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 95vh;
}

.logo {
    display: flex;
}

.logo img {
    Width: 24.65px;
    Height: 17.4px;
}

.logo h5 {
    font-size: 18px;
    font-family: lato, sans-serif;
    font-weight: 700;
    margin: 0;
    color: white;
    margin-left: 8px;
}

.navbar-nav li a {
    color: white;
}

.navbar-nav li a:hover {
    color: rgb(228, 228, 228);
}

.language-icon {
    width: 24px;
    height: 24px;
}

.nav-div {
    justify-content: space-around;
}

.login-btn {
    color: white;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid white;
    border-radius: 3px;
    padding: 6px 18px !important;
    margin-left: 20px;
}

.banner-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
    color: white;
}

.banner-title h1 {
    font-size: 60px;
    font-weight: 700;
}

.banner-title p {
    font-weight: normal;
    font-size: 16px;
    line-height: 36px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.sign-up-btn {
    border: none;
    background: white;
    padding: 10px 40px;
    border-radius: 6px;
}

.sign-up-btn a {
    text-decoration: none;
    color: #ED4C5C;
    font-size: 14px;
}

/*----------------------- banner section ends from here -----------------------*/